<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= movie.title %></title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<figure>
			<a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House" /></a>
		</figure>
		<h1><%= movie.title %></h1>
		<br />
		<p>RATING: <%= movie.rating %></p>
		<p>AWARDS: <%= movie.awards %></p>
		<p>LENGTH: <%= movie.length + ' min'%></p>
		<p>RELEASE DATE: <%= movie.release_date %></p>
		<p>GENRE:<% if (movie.genres) {%> <%= movie.genres.name %> <% } %></p>
		<p>
			ACTORS: <% for (let i = 0; i < movie.actors.length; i++) {%>
			<a href="/actors/detail/<%= movie.actors[i].id%>"><%= `${movie.actors[i].first_name} ${movie.actors[i].last_name}` %></a> <% } %>
		</p>
		<br />
		<section>
			<!--Aquí debe colocar los botones de Modificar - Borrar y Listado de Películas-->

			<a href="/movies/edit/<%= movie.id %>"><button class="botonAgregar" type="submit">Editar</button></a>
			<a href="/movies/delete/<%= movie.id %>"><button class="botonBorrar" type="submit">Borrar</button></a>
			<a href="/movies"><button class="botonVolver" type="submit">Listado de Peliculas</button></a>
		</section>
	</body>
</html>
